body {
    /* orange */
    color: #F4A261; /* base */
    color: #F6B88C; /* nuance */

    /* bleu */
    color: #3C75A6; /* base */
    color: #5A9BD5; /* nuance */
    color: #f8f9fa; /* nuance */
    color: #2B34AB; /* nuance */

}