body {
    /* bleu */
    color: #4a6fa5; /* base */
    color: #f8f9fa; /* nuance */
    color: rgba(74, 111, 165, 0.1); /* nuance */
    color: rgba(74, 111, 165, 0.05); /* nuance */
    color: #3a5a8f; /* nuance */

    /* HEADER */
    color: #D9E3E8; 
    color: #2B3A4B;
    background-color: #3C75A6;
    /* bouton profil  */
    background-color: #5A9BD5;
    border: 2px solid #3C75A6;
    /* bout prof hover */
    background-color: #A8B0B8;
    border-color: #2B3A4B;



}

